.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-slide-in 1s ease-in-out;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a.profile {
  color: #222;
  text-decoration: none;
  margin: 10px;
}
a.profile.linkedin:hover {
  color: #0077B5;
}
a.profile.github:hover span {
  color: #fff;
}
a.profile.github:hover .fa-inverse {
  color: #24292e;
}
a.profile.fa-stack-overflow:hover {
  color: #f48024;
}

@keyframes App-logo-slide-in {
  from { transform: translateY(-100px); }
  to { transform: translateY(0px); }
}